@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Даний проект було реалізовано з метою моніторингу стану автозаправок м.Рівне.</p>
<p>Розробники: Віктор Жуковський, Євгеній Стюфеєв, Костянтин Голюк</p>

